* {
    padding: 0;
    margin: 0;

}

:root {
    --cordefundo: #00000083;
    --fontepadrao: 'Times New Roman', Times, Serif;
    --cordecabecalho: #cbf029;
    --cordeletra: #f0f8ff;
}

html {
    font-family: var(--fontepadrao);
    font-size: 1em;
}



body {
    background: linear-gradient(23deg, #08468888, #0eba84) no-repeat;
    height: 100vh;
}


header {
    background: var(--cordefundo);
    font-size: 2vw;
    width: 100vw;
    padding: 2em;
    text-align: center;
    border-radius: 6px;
}

header>h1 {
    color: var(--cordecabecalho);
}


ul {
    background-color: #1ae09e;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px var(--cordecabecalho);

}

li {
    display: inline-block;
}

article {
    display: block;
    width: 500px;
    margin: auto;
    color: var(--cordeletra);
}