@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Helvetica, sans-serif; 
    --fonte2: 'Sriracha', cursive;;
    --fonte3: 'Passion One', cursive;;
}

body {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 2em;
}

header h1 {
    padding-top: 30px;
    font-variant: small-caps; /* Deixa as primeiras letras maiusculas*/
}

header p {
    padding-bottom: 30px;
}

 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 20px;
    font-family: var(--fonte2);
}

.foto p { 
    background-color: rgba(0, 0, 0, 0.175);
    width: 500px;
}

.normal {
    background-color: white;
    color: black;
}

.foto {
    background-color: rgba(11, 10, 10, 0.781);
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

