* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #0073cb;
  height: 110px;
  padding: 10px;
}

header h1 {
  color: #73aad4;
  text-align: center;
  font-size: 2em;
}

ul {
  padding-top: 16px;
  margin: 0;
}

li {
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 80px;
  height: 25px;
  padding-top: 3px;
  background-color: #232a3c;
  border-radius: 5px;
  color: white;
}

li:hover {
  background: #000000;
}

a {
  text-decoration: none;
}

#burger {
  display: block;
  position: absolute;
  width: 100vw;
  color: #ffffff;
}

main {
  width: 90vh;
  height: 600px;
  margin: auto;
  margin-top: 10px;
  border: 2px solid #232a3c;
  border-radius: 5px;
  padding: 10px;
  text-align: justify;
}

h1 {
  padding: 10px;
}

p {
  padding-bottom: 8px;
  padding-left: 5px;
  text-indent: 14px;
  text-align: justify;
}
