* {
    margin: 0;
    padding: 0;
}

/*config gerais */

body {
    width: 100vw;
    height: 100vh;
    background: #233eff;
    background-repeat: no-repeat;
    background-size: contain;

}

h1 {
    color: white;
    text-shadow: 1px 2px 0px #00ffff;
    padding: 10px;

}