body {
    background-image: url(imagens/wallpaper002.jpg);
}

.quadrado {
    display: inline-block;
    margin: 5px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
}
/* background-position: px, %, center, top, bottom, right, left */
#q1{
    background-image: url(imagens/pattern003.png);
    background-position: 50% 50%; /*centralizado*/ 

}

#q2 {
    background-image: linear-gradient(23deg, yellow, orange);
}

#q3 {
    background-image: url(imagens/pattern002.png);
    background-position: 30px 40px; /*30px para a vertical, 40px para a horizontal*/
}